/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}
video {
	/*width: 544.90px; 
	height: 280px; */
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#branding {
	height: 85px;
}
#logo{
	margin: 5px 0 0 0;
	float:left;
}
#ab{
	float: left;
	margin: 23px 0px 27px 288px;
}
#contact {
	float: left;
	margin-top: 25px;
	margin-left: 48px;	
	font-size: 14px;
	font-familt: Open Sans;
}
#contact p{
	margin: 0;
}
#fb {
	float: left;
	margin: 25px 0 27px 17px;
} 
#contact a{
	color: #669966;
}
#primary_links li {
	display: inline;
	font-size: 14px;
}
#primary_links a {
	color: white;
	margin-right: 80px;
	text-decoration: none;
}
#primary_links {
	background-color: #3f8252;
	/*height: 72px;
	line-height: 72px; */
	height: 50px;
	line-height: 50px;
	text-align:center;
	font-family: Open Sans;
}
#primary_links ul {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}
#content{
	text-align:center;
}	
#content iframe {
	width: 548px;
	height: 278px;
	margin: 41px 0 38px 0;
}
#content h2{
	color: #5d5d5d;
	font-family: Helvetica;
	font-size: 36px;
}
#content small{
	color: #8f8f8f;
	font-family: Helvetica;
	font-size: 16px;
}
#content h3{
	color: #3f8252;
	letter-spacing: 8px;
	font-family: Helvetica;
	font-size: 14px;
}
#content h3{
	font-size:14px;
}
#welcome{
	float: left;
	width: 489px;
	text-align:left;
	font-size: 14px;
}
#facts{
	float:right;
	width: 410px;
	text-align:left;
	font-size: 14px;
}
#facts ul{
	padding: 0;
}
#fb-bar{
	height: 45px;
	width: auto;
	background-color: #4d679c;
	border-radius: 8px;
}
#text{
	color: white;
	line-height: 45px;
	float:right;
	margin:0;
	font-family: Helvetica;
	font-size: 20px;
}
#num{
	color: white;
	line-height: 45px;
	float:right;
	margin-right:154px;
	font-size: 14px;
}
#fb_01{
	float:left;
	margin: 5px 0 8px 18.97px;
	font-size: 36px;
	color: white;
}
#fb_02{
	float: right;
	margin: 5px 18.97px 8px 0;
	font-size: 36px;
	color: white;
}
#fb_like{
	float: right;
	margin: 12px 6px 14px 18px;
}
table {
	width: 980px;
	margin-top: 39px;
	text-align:left;
	margin-bottom: 41px;
}
table th{
	background-color: #7f8c8d;
	color: white;
	text-align:center;
	letter-spacing: 7px;
	font-family: Open Sans;
	font-size: 22px;
	height: 67px;
	border-left: 3px solid white;
}
table td{
	font-size: 14px;
	text-align: left;
	background-color: #f7f7f7;
	color: #999999;
	border-left: 3px solid white;
	border: 1px solid #e9e9e9;
	height: 41px;
}
.rotate{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	letter-spacing: 3px;
}
#heating{
	background-color: #eef1f5;
	height: 398px;
}
#heating h2{
	color: #c0392b;
	letter-spacing: 11px;
	/*font-size: 14px;
	font-family: Open Sans;*/
}
#heating p{
	margin-left: auto;
	margin-right: auto;
	width: 919px;
}
#heating_graphic01 img{
	float:left;
	margin: 34px 40px 38px 86.97px;
}
#heating_graphic02 img{
	float:left;
	margin: 34px 0px 38px 0px;
}
#heating_graphic03 img{
	float:left;
	margin: 34px 86.97px 38px 40px;
}
#cooling {
	background-color: white;
	height: 400px;
}
#cooling h2{
	color: #3399cc;
	letter-spacing: 11px;
}
#cooling p{
	margin-left: auto;
	margin-right: auto;
	width: 901px;
}
#cooling_graphic img{
	float:left;
	margin: 34px 40px 38px 86.97px;
}
#cooling_graphic01 img{
	float:left;
	margin: 34px 40px 38px 86.97px;
}
#cooling_graphic02 img{
	float:left;
	margin: 34px 0px 38px 0px;
}
#cooling_graphic03 img{
	float:left;
	margin: 34px 86.97px 38px 40px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}